<% if (item.shadow ) { %>
   <style type="text/css">
           img, video {
                -webkit-box-shadow:0 0 10px rgba(0, 0, 0, .5);  
                -moz-box-shadow:0 0 10px rgba(0, 0, 0, .5);  
                box-shadow:0 0 10px rgba(0, 0, 0, .5);  
           }
   </style>
<% } %>


<div class="row <% if (post) { %>post<% } else { %>page<% } %>">
	<!-- cols -->
	<% if (post) { %>
	<div id="top_meta"></div>
	<div class="col-md-9">
	<% } else { %>
	<div class="col-md-12">
	<% } %>

		<!-- content -->

		<div class="slogan" style="margin-bottom: 17px">
		  <h4 style="margin-top: 0;color: #333;font-size:15px;font-weight: normal;">
			  当前位置&nbsp;:&nbsp;<a href="<%- config.root %>" >首页&nbsp;</a>»&nbsp;文章分类&nbsp;:&nbsp;
			<% item.categories.forEach(function(it){ %>
				<a href="<%- config.root %><%- it.path %>"><%= it.name %></a>
			<% }); %>
		  &nbsp;</a>»&nbsp; <%= item.title %> </h4>
		</div>

		<div id="top_search"></div>
				 
		<% if (item.description) { %>
			<div class="alert alert-success description">
				<i class="fa fa-info-circle"></i> <%- markdown(item.description) %>			
			</div> <!-- alert -->
		<% } %>

		<div class="archive">	  
			<div id="archives"> 
				
				<header class="entry-header">
					<div class="entry-info" text-transform : capitalize>				     					      	      
							
						<span class="entry-date">
							<span class="fa fa-calendar" aria-hidden="true"></span>
							<%= item.date.format(config.date_format) %>						      
						</span>
							  
							  
						<span class="author vcard">
							<span class="fa fa-user" aria-hidden="true"></span>
							<a href="<%- config.root %>"><%= config.author %></a> 	 	
						</span>

						<span class="comments-link">
							<span class="fa fa-comments" aria-hidden="true"></span>
							<span class="ds-thread-count" data-thread-key="<%- item.path %>">暂无评论</span>
						</span>						
							
					</div>	

									
					<h3 class="entry-title"> 
						<a href="<%- config.root %><%- item.path %>" ><%= item.title %></a>
					</h3>		
						
					<span style="font-size:15px"><%- item.content %></span>
				</header>

				<!-- share -->
				<% if (post) { %>
					<%- partial('post/bdshare', {page: item}) %>
					<%- partial('post/jiathis', {page: item}) %>
				<% } %>
			</div>	
		</div>	 	        

		 <% if (item.prev || item.next) 
			{ %>
				<% if (item.prev)
				{ %>
					<p class="p1"><%= __('prev') %> <a href="<%- config.root %><%- item.prev.path %>"><%- item.prev.title %></a></p> <% } 
				%>

				<% if (item.next){ %>
				   <p class="p2"><%= __('next') %> <a href="<%- config.root %><%- item.next.path %>"><%- item.next.title %></a></p> <% }  
				%>
			<% }  
		%>
		
		<!-- comment -->
		<%- partial('post/comment', {page: item}) %>
		
	</div> <!-- col-md-9/col-md-12 -->	

	<% if (post) { %>
		<div id="side_meta">
			<%- partial('post/meta', {item: item}) %>
		</div>
	<% } %>		

</div><!-- row -->

<%- partial('post/comment_footer', {page: item}) %>
